<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>掲示板</title>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/custom.css}">
	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
	<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
	<meta name="_csrf" th:content="${_csrf.token}"><!-- CSRFエラー対策 -->
	<meta name="_csrf_header" th:content="${_csrf.headerName}"><!-- CSRFエラー対策 -->

</head>
<body>
	<div class="content">
    <h1>掲示板</h1>
	<form th:action="@{/logout}" method="post">
	    <div class="flex-container"><button type="submit" class="btn btn-secondary">ログアウト</button></div>
	</form>
	<div class="flex-container display-login-username"><div>ログインしているユーザー: <span th:text="${userName}"></span></div></div>
	
	<h2>新規投稿</h2>
	<!--<form th:action="@{/board/post}" th:object="${newPost}" method="post"> BoardControllerの@PostMapping("/post")メソッド、newPostオブジェクトへ -->
		<form id="postForm" method="post" th:action="@{/board/post}" th:object="${board}"><!-- REST+ajaxエラーチェック実装のため変更 -->	
	    <div class="form-group">
	        <label for="text">メッセージ：</label>
	        <textarea id="text" th:field="*{text}" rows="4" cols="40" class="form-control" th:errorclass="is-invalid"></textarea>
			<div class="invalid-feedback"></div><!-- エラー表示をajaxにしたので常に存在するようにした -->
			<!-- <div class="invalid-feedback" th:errors="*{text}"></div>thymeleaf側でのvalidationエラーメッセージ取得-->
	    </div>
	    	<div class="flex-container"><button type="submit" class="btn btn-primary">投稿</button></div>
		</form>
	<hr>
    
    <h2>投稿一覧</h2>
	<div id="post-list">
    <div th:each="board : ${boardList}" th:data-id="${board.id}" class="post-and-divider"><!-- boardListという名前でコントローラーから渡された投稿のリストを繰り返し処理 -->
        <div class="post-item"><!-- th:data-id="${board.id}"-->
            投稿ID: <span th:text="${board.id}"></span><br>
            投稿者: <span th:text="${board.userName}"></span>
            <!-- 投稿日時:<span th:if="${board.registerDate}" th:text="${#dates.format(board.registerDate, 'yyyy-MM-dd HH:mm:ss')}"></span>
			<span th:unless="${board.registerDate}">N/A</span><br /> thymeleaf-extras-java8tim　4.0.xでは#Dateだとエラになるー-->
			投稿日時:<span th:if="${board.registerDate}" th:text="${#temporals.format(board.registerDate, 'yyyy-MM-dd HH:mm:ss')}"></span>
			<span th:unless="${board.registerDate}">N/A</span><br /> 
            内容: <div><span th:utext="${board.text}"></span></div><!-- 改行を表示させるためtextでなくth:utext -->

		<div th:if="${board.userId == currentUserId}"><!-- ユーザーIDが同じ投稿のみに削除ボタンを表示 -->
		<!-- <div>ユーザーIDが違っても削除できるかのテスト用 -->
				    <div class="flex-container"><button class="delete-button btn btn-danger" th:data-id="${board.id}">削除</button></div>
			</div>
		</div>	
        <hr>
    </div>
	</div>

	</div>
	<script th:src="@{/board.js}"></script>

</body>
</html>